* {
    font-family:'Lucida Sans';
    font-weight: 00;
    font-size: 33px;
    line-height: 150%;
}

body {
    background: linear-gradient(#ffff, rgba(52, 209, 214, 0.667))
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.input-texto {
    margin-top: 90px;
}

.mensaje {
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    background-image: url("imagenes/muñeco.png");
    background-repeat: no-repeat;
    background-position: 17px;
    background-size: 300px;

}

.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encriptar {
    background-color: rgb(7, 243, 26);
    font-size:large
    color #fff
}

.desencriptar {
    margin-left: 30px;
    background-color: rgb(236, 35, 35);
}

.informacion {
    font-size: 15px;
}

footer {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 50px;
}

footer p {
    background-color: rgba(147, 233, 236, 0.667);
    font-size: 20px;
}
